*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background:  linear-gradient(135deg, #153677, #4e085f);   
    padding: 10px;
}


.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 50px;
    padding-left: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    /* border: 1px solid black; */
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}


ul li{
    list-style: none;
    font-size: 26px;
    padding: 19px 10px 16px 58px;
    user-select: none;
    /* width: 50%; */
    cursor: pointer;
    /* border: 1px solid black; */
}

ul li::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: url('../image/radio.png') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    /* top: 300px; */
    left: 465px;
}

ul li.checked{
    color: #555;
    /* text-decoration: line-through; */
}

ul li.checked::before{
    background: url('../image/check.png') no-repeat center center/cover;
}


ul li span{
    position: relative;
    right: -310px;
    top: px;
   
  
    color: #555;
    padding: 10px;
    /* line-height: 40px; */
    text-align: center;
    /* border-radius: 50%; */
}

ul li span:hover{
    /* background: #edeef0; */
}